<section class="section section--text-centered" data-section-id="{{ section.id }}" data-section-type="newsletter">
  <div class="container container--extra-narrow">
    {%- if section.settings.title != blank -%}
      <h2 class="heading h3">{{ section.settings.title | escape }}</h2>
    {%- endif -%}

    {%- if section.settings.content != blank -%}
      <div class="rte">
        {{ section.settings.content }}
      </div>
    {%- endif -%}

    {%- assign newsletter_id = 'newsletter-' | append: section.id -%}

    <div class="newsletter newsletter--compact">
      {%- form 'customer', id: newsletter_id, class: 'form newsletter__form' -%}
        {%- if form.posted_successfully? -%}
          <p class="alert alert--success">{{ 'home_page.newsletter.success' | t }}</p>
        {%- else -%}
          {%- if form.errors -%}
            <p class="alert alert--error">{{ form.errors.messages['email'] }}</p>
          {%- endif -%}

          <input type="hidden" name="contact[tags]" value="newsletter">

          <div class="form__input-row">
            <div class="form__input-wrapper form__input-wrapper--labelled">
              <!-- Begin Mailchimp Signup Form -->
              <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
              <style type="text/css">
                #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
                /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                  We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
              </style>
              <style type="text/css">
                #mc-embedded-subscribe-form input[type=checkbox]{display: inline; width: auto;margin-right: 10px;}
                #mergeRow-gdpr {margin-top: 20px;}
                #mergeRow-gdpr fieldset label {font-weight: normal;}
                #mc-embedded-subscribe-form .mc_fieldset{border:none;min-height: 0px;padding-bottom:0px;}
              </style>
              <div id="mc_embed_signup">
              <form action="https://alameda.us10.list-manage.com/subscribe/post?u=4cb0aba0f73b667f41724bbfc&amp;id=2f05f9aaca" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">
                
                <input type="email" value="" name="EMAIL" class="form__field form__field--text" id="mce-EMAIL" placeholder="email" required>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4cb0aba0f73b667f41724bbfc_2f05f9aaca" tabindex="-1" value=""></div>
                  <div class="">
                   <input type="submit" value="Subscribirse" name="subscribe" id="mc-embedded-subscribe" class="form__submit form__submit--tight button button--primary" style="
                       background: #ef7b42;
                       border: none !important;
                       border-radius: 0px;
                       margin-top: 11px;
                       width: 100%;
                       display: inline-block;
                       padding: 16px 0px;
                       line-height: 17px;
                       min-height: 47px;
                       ">
                  </div>
                  </div>
              </form>
              </div>
              <!--End mc_embed_signup-->
            </div>

            <button type="submit" class="form__submit button button--primary">{{ 'home_page.newsletter.submit' | t }}</button>
          </div>
        {%- endif -%}
      {%- endform -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Newsletter",
  "settings": [
    {
      "type": "paragraph",
      "content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)."
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Newsletter"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Text",
      "default": "<p>A short sentence describing what someone will receive by subscribing</p>"
    }
  ],
  "presets": [
    {
      "category": "Promotional",
      "name": "Newsletter",
      "settings": {}
    }
  ]
}
{% endschema %}